<a href="https://colab.research.google.com/github/Ganeshreddy0712/Competitive-Programmer-s-Core-Skills-Solutions/blob/master/26_34_22_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ARRAYS

In [38]:
#inseting elements into list.

x=[7,3,45,18,0]
y=[23,34,45,56,67,78]
x.append(5)
print(x)
print(type(x))
x.insert(2,"banana")
print(x)
print(x[-1])
x.remove(x[3])
print(x)
x.pop(4)
print(x)
x.pop()
print(x)
del x[2]
print(x)  
print(len(x))
x.extend(y)
print(x)

[7, 3, 45, 18, 0, 5]
<class 'list'>
[7, 3, 'banana', 45, 18, 0, 5]
5
[7, 3, 'banana', 18, 0, 5]
[7, 3, 'banana', 18, 5]
[7, 3, 'banana', 18]
[7, 3, 18]
3
[7, 3, 18, 23, 34, 45, 56, 67, 78]